#logomob {
    display: none;

}

body {
    margin: 0;
    padding: 0;
    /*overflow-y: hidden;*/
}

#sve {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
}

#sidemenu {
    position: sticky;
    top: 0;
    width: 6%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #490023;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    z-index: 10;
    overflow: hidden;
    /*overflow-y: hidden;*/
}

#sidemenu2 {
    position: sticky;
    top: 0;
    width: 6%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #492423;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    z-index: 9;
    float: right;
    /*overflow-y: hidden;*/
}

#logo {
    position: absolute;
    top: 1vw;
}

#logopng {
    width: 4vw;
    height: 4vw;
}

#kafica {
    width: 2.3vw;
    height: 2.3vw;
    transition: all .2s ease-in-out;
    margin-bottom: 1.75vh;
    padding-left: 0.2vw;
}

#dim1,
#dim2,
#dim3 {
    stroke: #ffffffa2;
    fill: transparent;
    stroke-width: 4%;
    transition: stroke .4s ease-in-out;
}

.solja {
    transition: fill .4s ease-in-out;
    fill: #ffffffa2;
}


#kafica:hover {
    transform: scale(1.6);
    height: 3.2vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
}

#kafica:hover>svg>#Layer_4>.solja {
    fill: white;
}

#kafica:hover>svg>#Layer_3>#dim1 {
    animation: animateKafa 2.2s forwards infinite;
    stroke-dasharray: 1360;
    stroke-dashoffset: 2720;
    animation-play-state: running;
    stroke: white;
    animation-timing-function: ease-out;
}

#kafica:hover>svg>#Layer_3>#dim2 {
    animation: animateKafa 2.2s forwards infinite;
    stroke-dasharray: 1360;
    stroke-dashoffset: 2720;
    animation-play-state: running;
    stroke: white;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
}

#kafica:hover>svg>#Layer_3>#dim3 {
    animation: animateKafa 2.2s forwards infinite;
    stroke-dasharray: 1360;
    stroke-dashoffset: 2720;
    animation-play-state: running;
    stroke: white;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
}

@keyframes animateKafa {
    100% {
        stroke-dashoffset: 0;
    }
}


#meni {
    width: 1.7vw;
    height: 1.7vw;
    transition: all .2s ease-in-out;
    margin-top: 1.75vh;
    margin-bottom: 2.5vh;
}

.kvadrat {
    stroke: #ffffffa2;
    fill: transparent;
    stroke-width: 6%;
}

.slovo {
    stroke: #ffffffa2;
    fill: #ffffffa2;
    transition: transform .4s ease-in-out;
}

.cls-2 {
    stroke: #ffffff00;
    fill: transparent;
    stroke-width: 1%;
    transition: stroke 1s ease-in-out;
}

#meni:hover>svg>#Layer_1>.slovo {
    transform: translate(0px, -33%);
    fill: white;
}

#meni:hover {
    transform: scale(1.6);
    height: 3vw;
    stroke: white;
    margin-top: 2.5vw;
    margin-bottom: 1.75vw;
}


#meni:hover svg>#Layer_1>.kvadrat {
    stroke: white;
}

#meni:hover .cls-2 {
    animation: animateMeni 0.8s forwards 1;
    stroke-dasharray: 2600;
    stroke-dashoffset: -2600;
    stroke: white;
    animation-delay: 0.25s;
    animation-timing-function: ease-out;
}

@keyframes animateMeni {
    100% {
        stroke-dashoffset: -1250;
    }
}

#lokacija {
    width: 1.5vw;
    height: 1.5vw;
    transition: all .2s ease-in-out;
    margin-top: 2.5vh;
    margin-bottom: 1.75vh;
}

#lokacija:hover {
    transform: scale(1.7);
    height: 3.4vw;
    margin-top: 2.5vw;
    margin-bottom: 0vw;
}

.oblik {
    transition: fill 0.5s ease-in-out;
}

#lokacija:hover svg>#Layer_1>.oblik {
    fill: white;
}

.mkrug {
    transition: stroke 0.5s ease-in-out;
}

@keyframes animateLokacija {
    0% {
        transform: scaleX(1);
        transform-origin: center;
    }

    50% {
        transform: scaleX(0);
        transform-origin: center;
    }

    100% {
        transform: scaleX(1);
        transform-origin: center;
    }
}

#lokacija:hover svg>#Layer_2>.mkrug {
    animation: animateLokacija 0.4s forwards 1;
    stroke: white;
    animation-timing-function: ease-in-out;
}



/*ostatak sajta*/

#sadrzaj {
    /*display: flex;
    flex-direction: row;*/
    /*margin-top: -100vh;*/
    height: 100vh;
    width: 88vw;
    overflow-x: hidden;
    /* overflow-y: auto;*/
    perspective: 25px;
    -webkit-perspective: 25px;

}

#sadrzaj::-webkit-scrollbar {
    display: none;
}


#sadrzaj {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#strana1 {
    height: 110vh;
    /*background-color: #c3a88a;*/
    /*padding-top: 15vh;*/
    /*background-image: url("pozadina1.png");
    background-size: contain;
    background-repeat: no-repeat;*/
    z-index: 4;
    position: absolute;
    top: 0;
    transform: translateZ(2px);
    width: 94vw;

}

#pozadina {
    position: absolute;
    height: 125vh;
    background-size: contain;
    background-repeat: no-repeat;
    /*width: 100%;*/
}

#kafe {
    position: absolute;
    margin-top: -9vh;
    z-index: 2;
    width: 50%;
    opacity: 50%;
    margin-top: 5vh;
}

#s1flex {
    display: flex;
    flex-direction: row;
    height: 60vh;
    position: absolute;
    transform: translateZ(-6px);
    z-index: 4;
    margin-top: -50vh;
    width: 100%;
    align-items: center;
}

#tekstovi {
    /*position: absolute;*/
    /*top: 31vh;*/
    /*transform: translateZ(-6px);*/
    transform: translate3d(0, 0, -6px);
    /* align-items: center;*/
    width: 70%;
}

#radio {
    height: 30vh;
    width: 30%;
    margin-top: 5vh;
    margin-left: 15vw;

}

#crtice {
    transform: scaleY(0.1);
    transform-origin: center;
}

#t1 {
    font-family: "Bebas Neue";
    font-size: 6vh;
    margin: 0px 0px 1vh 0vw;
    z-index: 5;
    color: black;
}

#t2 {
    font-family: "Cascadia Mono";
    font-size: 15vh;
    margin: 0vh 0px 1.5vh 0vw;
    z-index: 5;
    color: black;
}

#placeholder {
    height: 70vh;
}

#strana2 {
    height: 108vh;
    /*background-color: #c3a88a;*/
    padding-top: 68vh;
    background-image: url("slika1.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -3vh;
    z-index: 3;
    position: relative;
    width: 110%;
    margin-left: -5%;
    /*margin-left: -2%;*/
    transform: translateZ(-2px);
    /*width: 110%;
    margin-left: -5vw;*/

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#kafeBlur {
    /*height: 168vh;*/
    width: 100%;
    opacity: 0%;
    margin-top: -68vh;
}

#opis {
    width: 50vw;
    /*   height: 50vh;*/
    background-color: #492423b0;
    z-index: 5;
    display: inline-block;
    position: absolute;
    top: 125vh;
    transform: translateZ(2px);
    margin-left: 19vw;
    padding: 0;
}

#opist1 {
    font-size: 4vh;
    font-family: "Cascadia Mono";
    color: #c3a88a;
    margin: 0;
    font-weight: 500;
}

#opis2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.crta {
    font-size: 7vh;
    font-family: "Cascadia Mono";
    color: #c3a88a;
    margin: 3%
}

#opist2 {
    font-size: 2.3vh;
    font-family: "Cascadia Mono";
    color: #c3a88a;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
    text-align: center;
}

/*kada se dodje do tu pocinje anim*/

.kafica2 {
    height: 3.2vw !important;
    margin-top: 1.5vw !important;
    margin-bottom: 1vw !important;
    transform: scale(1.6) !important;
}

.dim12 {
    stroke: white !important;
    fill: transparent !important;
    stroke-width: 4% !important;
    transition: stroke .4s ease-in-out;

    animation: animateKafa2 2.2s forwards infinite;
    stroke-dasharray: 1360;
    stroke-dashoffset: 2720;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

.dim22 {
    stroke: white !important;
    fill: transparent !important;
    stroke-width: 4% !important;
    transition: stroke .4s ease-in-out;

    animation: animateKafa2 2.2s forwards infinite;
    stroke-dasharray: 1360;
    stroke-dashoffset: 2720;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0.10s;
}

.dim32 {
    stroke: white !important;
    fill: transparent !important;
    stroke-width: 4% !important;
    transition: stroke .4s ease-in-out;

    animation: animateKafa2 2.2s forwards infinite;
    stroke-dasharray: 1360;
    stroke-dashoffset: 2720;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-delay: 0.20s;
}

.solja2 {
    fill: white !important;
}

@keyframes animateKafa2 {
    100% {
        stroke-dashoffset: 0;
    }
}

/*gotove anim*/

#strana3 {
    height: 400vh;
    /*padding-top: 15vh;*/
    /*background-image: url("pozadinamirror.png");
    background-size: contain;
    background-repeat: no-repeat;*/
    z-index: 3;
    position: absolute;
    transform: translateZ(2px);
    width: 94vw;
    margin-top: -70vh;
    /*background-color: #c3a88a;*/
}

#linija {
    height: 124vh;
    z-index: 5;
    background-size: contain;
    background-repeat: no-repeat;
    /* transform: translateZ(2px);*/
    position: absolute;
    right: 0;
    margin-right: 6vw;
}

#ispod {
    height: 124vh;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    /* transform: translateZ(2px);*/
    position: absolute;
    right: 0;
    margin-right: 6vw;
}

#trougao {
    height: 0%;
    right: 0;
    z-index: 4;
    position: absolute;
    margin-top: 1vh;
    fill: #1F110B;
    stroke: transparent;
    z-index: 4;
    margin-right: 6vw;
}

/*#obe{
    width: 100%;
    z-index: 1;
    position: relative;
   transform: translateZ(2px);
    padding: 0;
    margin-top: -306vh
}
#bez{
    background-color: #c3a88a;
    height: 100%;
    width: 100%;
}
#braon{
    background-color: #221006;
    height: 0%;
    width: 100%;
}
*/

#pozadina3 {
    height: 100%;
    width: 100%;
    z-index: 5;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#boja {
    height: 100%;
    width: 100%;
    margin-top: -100%;
    z-index: 3;
}

/*anim za meni*/

.slovo2 {
    transform: translate(0px, -33%);
    fill: white !important;
}

.meni2 {
    transform: scale(1.6) !important;
    height: 3vw !important;
    stroke: white !important;
    margin-top: 2.5vw !important;
    margin-bottom: 1.75vw !important;
}


.kvadrat2 {
    stroke: white !important;
}

.cls-22 {
    animation: animateMeni 0.8s forwards 1;
    stroke-dasharray: 2600;
    stroke-dashoffset: -2600;
    stroke: white !important;
    animation-delay: 0.25s;
    animation-timing-function: ease-out;
}

/*gotov anim*/

@media screen and (max-width: 700px) {
    #kafe {
        width: 110%;
    }
}

@media screen and (max-width: 850px) {
    #t1 {
        font-size: 6vw;
    }

    #t2 {
        font-size: 15vw;
    }
}

@media screen and (max-width: 1200px) {
    #pozadina {
        height: 85vh
    }
}

@media screen and (max-width: 1000px) {
    #sve {
        flex-direction: column;
    }

    #sidemenu {
        flex-direction: row;
        width: 100%;
        height: 10vh;
    }

    #sidemenu2 {
        /*flex-direction: row;
width: 100%;
height: 10vh;*/
        display: none;
    }

    #sadrzaj {
        width: 100%;
    }

    #logo {
        left: 0;
    }

    #sidemenu > div{
        width: 40%;
    }

    #kafica {
        width: 4.5vh;
        margin: 0;
        height: 100%;

        display: flex;
        align-items: center;
    }

    #meni {
        width: 3vh;
        margin: 0;
        height: 100%;

        display: flex;
        align-items: center;
    }

    #logo {
        display: none;
    }

    #logomob {
        width: 3vh;
        margin: 0;
        height: 100%;

        display: flex;
        align-items: center;

    }

    #logopngmob {
        width: 6vh;
        height: auto;

    }

    #lokacija {
        width: 2.5vh;
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    #sidemenu div {
        margin-left: 2vw;
        margin-right: 2vw;
    }



    #placeholder {
        height: 70vh;
    }

    #s1flex {
        flex-direction: column;
        width: 130%;
        margin-left: -15vw;
        margin-top: -50vh;
        z-index: 5;
    }

    #radio {
        height: 30vh;
        width: 50%;
        margin-left: 0;
        z-index: 5;
    }


    #strana2 {
        padding-top: 0;
        margin-left: -55vw;
        margin-top: -6vh;
        width: 240%;
        height: 95vh;
    }

    #kafeBlur {
        margin-top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    #opis {
        top: 84.5vh;
        width: 90%;
        height: 55%;
        margin-left: 5vw;
    }

    #opist1 {
        font-size: 3vh;
    }

    #opist2 {
        font-size: 1.5vh;
    }

    #strana3 {
        width: 100vw;
        margin-top: -25vh;
    }

    #linija {
        margin-right: 0;
        height: 85vh;
    }

    #ispod {
        margin-right: 0;
        height: 85vh;
    }

    #trougao {
        margin-top: 2vh;
        margin-right: 0;
    }




}


@for $i from 1 through 4 {
    #Line_#{$i} {
        animation: pulse 1s infinite;
        animation-delay: $i * .15s;
    }
}

@for $i from 5 through 9 {
    #Line_#{$i} {
        animation: pulse 0.8s infinite;
        animation-delay: $i * .25s;
    }
}

@keyframes pulse {
    0% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }

    50% {
        transform: scaleY(.7);
        transform-origin: 50% 50%;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }
}
